/* Estilizando o banner e os botões */
.fix.top_add_bar {
  text-align: center;
}

.fix.top_add_bar img {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Make the image responsive */
}
  
.nav-bottom {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    display: inline-block;
    margin-right: 10px;
}
  
a {
    text-decoration: none;
}
  
  /* Centralizar os links abaixo do banner */
.mainmenu {
    text-align: center;
}
  
  /* Estilizando os botões abaixo do banner */
  .button_area {
    display: flex;
    flex-direction: row; /* Empilhar os botões verticalmente */
    align-items: center; /* Centralizar horizontalmente os botões */
    margin-top: 10px;
  }
    
  .button_area a {
    width: 100%; /* Definir a largura dos botões como 100% */
    max-width: 250px; /* Definir uma largura máxima para evitar que os botões fiquem muito largos em telas grandes */
    margin: 5px;
  }
  
  .button_area a img {
    width: 150px; /* Defina o tamanho desejado */
    height: 53px; /* Defina o tamanho desejado */
  }
    
  .button_area a img:hover {
    transform: scale(1.1); /* Aumentar em 10% no hover */
  }

.site-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Isso evita que o conteúdo fique na parte superior quando não houver conteúdo suficiente */
  max-width: 800px; /* Ajuste o valor de acordo com o tamanho desejado */
  margin: 0 auto;
  text-align: justify;
  padding: 0 20px; /* Adicione as margens laterais desejadas */
}

.imagemtexto {
  width: 100%; /* Set a fixed width for the image, adjust as needed */
}

.texto-autor {
  font-style: italic;
  padding-bottom: 100px;
}


.footer {
  background-color: #666666;
  color: #fff;
  padding: 2px;
  margin-top: 20px;
  text-align: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; /* Set the width to 100% to span the entire screen */
}

/* Social media icons styles */
.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1px;
}

.social-icon {
  display: inline-block;
  margin: 5px;
}

.social-icon img {
  width: 30px;
  height: 30px;
}


.bannerbot {
  align-self: center; /* Adicione esta linha para centralizar verticalmente */
}





@media (max-width: 768px) {

.fix.top_add_bar img {
margin: 5px;
max-width: 90%;
}
  
.button_area a img {
  width: 100%; /* Defina o tamanho desejado para dispositivos móveis */
  height: auto; /* Permita que a altura seja ajustada automaticamente */
}

.bannerbot {
  width: 98%;
  max-width: none; /* Remova a largura máxima se estiver definida */
  margin: 0 auto; /* Centralize horizontalmente o banner */
}

/* Ajuste o tamanho da imagem dentro do banner para 100% da largura do banner */
.bannerbot img {
  width: 100%;
  height: auto; /* Mantenha a proporção da imagem */
  padding-bottom: 20px;
}

}